/*roxo escuro #8615bd
roxo claro #983dff
roxo  mais claro #9688ff
azul escuro #4cadff
azul claro #50e4ff */

* {
    margin: 0;
    padding: 0;
}

body {
   background-image: linear-gradient(to bottom, #8615bd, #983dff, #9688ff);
  /* background-color: black;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

li {
    float: left;
}

li a {
    display: flex;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

li a:hover {
    background-color: hsl(269, 84%, 33%);
    color: #FF4500;
}

.sobre {
    /*background-color: #8615bd;*/
    /*border-style: groove;*/
    font-size: 1.4em;
    width: 80%;
    margin: auto;
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    text-indent: 50px;
    text-align: justify;
    color: whitesmoke;
}


.tipo-curso {
    text-align: center;
    font-size: 2.5em;
}

.titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.secao {
   /* border-style: groove;*/
    border-radius: 20px;
    width: 90%;
    margin: auto;
    display: block;
}

.cursos-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cursos-div {
    width: 20vw;
    /*height: 80vh;*/
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 20px;
    border-color: #50e4ff;
    margin: auto;
    text-align: justify;
    color: white;
    /*background-color: # 8615bd;*/
    padding-bottom: 10px;
}

.cursos-div:hover {
    border-color: #4cadff;
    border-width: 7px;
    transition: 0.3s;
}

.cursos-div p {
    width: 90%;
    margin:auto;
    padding-bottom: 10px;
}

.link {
    background-color: white;
    width: 150px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: groove;
    border-radius: 10px;
    text-align: center;
}

.titulo-curso {
    text-align: center;
    margin: 10px 0;
    font-size: 1.1em;
}

.livros {
    width: 80vw;
    margin: auto;
}

img {
    image-orientation: flip;
    width: 19vw;
    height: 15vw;
    padding: 5px;
    border-radius: 20px;
    margin: auto;
}

.livros > p {
    text-align: center;
}

.img-livros {
    padding: 30px 0;
    width: 12vw;
}

.rodape {
background-color: #2B2B2B;
}

.texto-rodape {
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
color: white;
text-align: center;
}

.justificado-centro {
display: flex;
justify-content: center;
}