
/*INICIO CONTEÚDO JAVASCRIPT*/
h1{
    margin: 1rem 0;
    font-family: 'Oswald', sans-serif;
    color: #212529;
    text-decoration:underline#ff4305;
    font-size: 3rem;
    padding: 1rem;
    
}
.js_content{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 10px;
    margin: 1rem;
    width: 100%;
    max-width: 1200px;
    background-color: #f3f3f3;;
    border-left: 6px solid #FF4500;
    box-shadow: inset 0 0 4px #c9c9c9;
    border-radius: 25px 10px 50px;
}

.js_title{
    text-align: center;
    width:100%;
    max-width: 300px;
}

.js_title h2{
    font-family: 'Oswald', sans-serif;
    color: #495057;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0 5px;
}

.listas_js{
    list-style: none;
}

.js_text p{
    line-height: 25px;
}

.listas_js{
    padding-top: 20px;
}

.textos_fonte{
    padding: 1rem;
    color: #ff4305;
    font-weight: 500;
}

.textos_fonte a{
    text-decoration: none;
    color: #212529;
}

.textos_fonte a:hover{
    color: #5C0DC1;
}

/*FINAL CONTEÚDO JAVASCRIPT*/


/*INICIO CONTEÚDO CURSOS*/

.cursos h2{
    margin-top: 100px;
    margin-bottom: 2rem;
    padding: 0 1rem;
    color: #440a8f;
    text-decoration: underline double #FF4500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 900 ;
}
.card_cursos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 1rem;
}

.card_body{
    width: 200px;
    height: 300px;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.85rem;
    background-color: #f2f2f2;
    box-shadow: inset 0 0 4px #646464;
    border-radius: 1rem;
}

.card_body img {
    margin-top: 5px;
    width: 180px;
    height: 180px;
    border: 2px groove #6464642d;
    border-radius: 1rem;
}

.curso_body img {
    height: 250px;
    width: 200px;
}

.curso_conteudo{
    text-align: center;
    padding: 0.3rem;
}

.curso_conteudo h3{
    padding: 8px;
}

.curso_conteudo button{
    height: 40px;
    width: 120px;
    border: 0;
    background: linear-gradient(180deg, rgb(245, 135, 0) 11.1%, rgb(255, 67, 5) 95.3%);
    border-radius: 5px;
    text-transform: uppercase;
}

.curso_conteudo button a {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 0.75rem;
    text-decoration: none;
    color: #ffffff;
    
}

.curso_conteudo button:hover{
    background: linear-gradient(180deg, #B221E4 0%, #5C0DC1 100%);
    box-shadow: 0 0 4px #5C0DC1;
}
/*FINAL CONTEÚDO CURSOS*/


/*INICIO CONTEÚDO LIVROS*/
.livros h2{
    margin-top: 120px;
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-decoration: underline double #FF4500;
    color: #440a8f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 900 ;
}

.card_livro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    gap: 20px;
    padding: 0 1rem;
}

.livro_body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220px;
    height: 410px;
    background-color: #f2f2f2;
    box-shadow: inset 0 0 4px #646464;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
}

.livro_body img{
    margin-top: 10px;
    border: 2px groove #6464642d;
    border-radius: 1rem;
    width: 200px;
    height: 300px;
}

.livro_conteudo{
    text-align: center;
}

.livro_conteudo h3{
    margin: 5px;
    padding: 5px;
    font-size: 0.8rem;
}

.livro_conteudo button{
    margin-bottom: 10px;
    height: 44px;
    width: 170px;
    border: 0;
    background: linear-gradient(180deg, rgb(245, 135, 0) 11.1%, rgb(255, 67, 5) 95.3%);
    border-radius: 5px;
    text-transform: uppercase;
}

.livro_conteudo button a{
    padding: 15px 63px;
    border-radius: 5px;
    font-size: 0.75rem;
    text-decoration: none;
    color: #ffffff;
}

.livro_conteudo button:hover{
    background: linear-gradient(180deg, #B221E4 0%, #5C0DC1 100%);
    box-shadow: 0 0 4px #5C0DC1;
}

/*FINAL CONTEÚDO LIVROS*/
