@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto' sans-serif; 
  box-sizing: border-box;
}

/*INICIO MAIN */

main{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 1rem 0;
}
.main-background{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background-main.jpg);
  background-size: cover;
}

.main-images{
  display: flex;
  margin: auto; 
  height: 30%; 
  width: 30%; 
  text-align: right; 
  padding: 20px;
  border-radius: 50%;
  transition-property: heigth, width;
  transition-duration: 0.25s;
}

.main-images:hover {
  height: 32.5%; 
  width: 32.5%; 
}

.main-text{
  margin: auto;
  color: orange;
  padding-left: 5%;
  padding-right: 5%;
}

#texto1 {
  padding-top: 100px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcalc {
  flex-direction: column;
}

.label-calc {
  margin: 3px;
}

.hidden {
  display: none;
}

.main-text h1{
  font-size: 45px; 
  text-decoration: underline;
  text-align: center; 
  font-family: 'Righteous', cursive;
}

.main-text h2{
  font-size: 40px; 
  text-align: center; 
  font-family: 'Righteous', cursive;  
}

.main-text h3{
  font-size: 35px; 
  text-align: center; 
  font-family: 'Righteous', cursive;
}

.main-text p{
  letter-spacing: 0.5px;
  font-size: 25px; 
  stroke: black;
  text-align: justify;
  text-indent: 50px;
  color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 0.5px black;
}

.italico{
  font-style: italic;
  font-weight: bold;
}

/*FINAL MAIN*/