@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
}


/*INICIO HEADER*/
main{
    max-width: 1300px;
    margin: auto;
    padding: 1rem 0;
}

.header-content{
    width: 100%;
    height: 300px;
    background-image: linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/img-header.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.logo-search{
    display: flex ;
    justify-content: space-between;
    padding: 1rem 2%;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.search{
    background: rgba(255, 255, 255, 0.08);
    color: #FFFFFF;
    backdrop-filter: blur(5px);
    padding: 1.2rem;
    border-radius: 10px;
}

.btn-search{
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    height: 28px;
}

#site-search{
    border: 0;
    height: 28px;
    border-radius: 5px;
}

.texto-header{
    color: #F5F5F5;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.texto-header h3{
    letter-spacing: 6px;
    font-size: 4rem;
    font-family: 'Righteous', cursive;
    text-shadow: 3px 2px 0px #983dff;
}

.texto-header p{
    letter-spacing: 3px;
    font-size: 1rem;
    color: #D3D3D3;
}

.navbar{
    padding: 0 2%;
    position: absolute;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.616);
}

.navbar a{
    color: #FFFFFF;
	display: inline-block;
	padding: 10px 15px;
	line-height: 1;
    text-decoration: none;
}

.menu{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-content: flex-end;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: #4cadff;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu li a:hover{
    color: #983dff;
    background-color: #4caeff18;
    border-radius: 10px;
}
/*FINAL HEADER*/



/*INICIO PYTHON*/
.title{
    margin: 1rem 0;
    font-family: 'Noto Serif', serif;
    color: #212529;
    text-decoration:underline#ff4305;
    font-size: 4rem;
}

.indice-content{
    display: flex;
    border-radius: 10px;
}

.title-indice{
    width:50%;
}

.title-indice ul li{
    margin: 1rem 0;
    margin-right: 10px;
    padding: 2px;
    border: 2px solid #e4e8ec;
    list-style: none;
}

.title-indice ul li:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.title-indice ul li a{
    color: #495057;
    text-decoration: none;
}

.title-indice ul li a:hover{
    color: #ff4305;
}

.img-content{
    width:50%;
}

.img-content img{
    border-radius: 10px;
}

.text-content{
    margin: 3rem 0;

}

.text-content h2{
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    color: #6c757d;
    margin-bottom: 5px;
}

.text-content h2:hover{
    color: #ff4305;
    cursor: pointer;
}

.text-content p{
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}
/*FINAL PYTHON*/


/*INICIO CURSOS*/
.cursos-title{
    margin-top: 5rem;
    padding: 5px;
    border-bottom: 10px double #ff4305;
    color:  #343a40;
    text-align: center;
    text-transform: uppercase;
}

.cursos-title h2{
    font-family: 'Oswald', sans-serif;
}

.card-tilte{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #682ac4;
    margin: 30px 0 15px 16px ;
    border-left: 5px solid #ff4305;
}

.card-tilte h3{
    margin-left: 4px;
}

.cursos-gratuitos, .cursos-pagos{
    height: 340px;
    justify-content: center;
    margin-bottom: 10px;
}

.card-cursos-gratuitos, .card-cursos-pagos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card-cg, .card-cp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 300px;
    text-align: center;
    font-size: 0.85rem;
    background-color: #F5F5F5;
    box-shadow: inset 0 0 4px #646464;
    border-radius: 1rem;

}

.card-cg img, .card-cp img{
    width: 180px;
    height: 180px;
    border: 2px groove #6464642d;
    border-radius: 1rem;
}

.card-body-cursos p{
    padding: 0.2rem;
}

.card-btn-cursos button{
    height: 44px;
    border: 0;
    background: linear-gradient(180deg, rgb(245, 135, 0) 11.1%, rgb(255, 67, 5) 95.3%);
    border-radius: 5px;
    text-transform: uppercase;
}

.card-btn-cursos button a{
    padding: 15px;
    border-radius: 5px;
    font-size: 0.75rem;
    text-decoration: none;
    color: #ffffff;
}

.card-btn-cursos button:hover{
    background: linear-gradient(180deg, #B221E4 0%, #5C0DC1 100%);
    box-shadow: 0 0 4px #5C0DC1;
}

/*FINAL CURSOS*/



/*INICIO LIVROS*/
.livros-tilte{
    padding: 5px;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-bottom: 10px double #ff4305;
    color:  #343a40;
    text-align: center;
    text-transform: uppercase;
}

.livros-conteudo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card-livro{
    display: flex;
    justify-content: space-between;
    width: 410px;
    height: 250px;
    margin: 1rem 0;
    background-color: #F5F5F5;
    box-shadow: inset 0 0 4px #646464;
    border-radius: 1rem;
}

.card-body-livro{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;  
}

.card-img-livro{
    padding: 0.5rem;
    border-right: 1px groove #6464642d;
}

.card-img-livro img{
    height: 100%;
    border: 2px groove #6464642d;
    border-radius: 1rem;
}

.card-body-livro h3{
    font-size: 1rem;
}

.card-btn-livro button{
    height: 44px;
    width: 200px;
    border: 0;
    background: linear-gradient(180deg, rgb(245, 135, 0) 11.1%, rgb(255, 67, 5) 95.3%);
    border-radius: 5px;
    text-transform: uppercase;
}

.card-btn-livro button a{
    padding: 15px 63px;
    border-radius: 5px;
    font-size: 0.75rem;
    text-decoration: none;
    color: #ffffff;
}

.card-btn-livro button:hover{
    background: linear-gradient(180deg, #B221E4 0%, #5C0DC1 100%);
    box-shadow: 0 0 4px #5C0DC1;
}

/*FINAL LIVROS*/



/*INICIO FOOTER*/
footer{
    background-color: #070617;
    color: #BEBEBE;
}

footer div ul li{
    list-style: none;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2%;
    height: 150px;
}

.column h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #00a1d7;
}

.column ul{
    padding: 10px 0px;
}

.social-list{
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.social-list li a img:hover{
    scale: 1.2;
}

.column:nth-child(4){
    background-color: #f8f8ff0c;
    border-radius: 16px;
    border: 3px double #1C1C1C;
}

#title-newsletter{
    color: #D3D3D3;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="email"] {   
    border: 0;
    padding: 0.625rem;
    width: 230px;
  }

  input[type="submit"] {
    background-color: #00a1d7;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.625rem;
  }

.Copyright-informativo{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-top: 1px inset #3b70a2;
    font-size: 0.9rem; 
    padding: 0.2rem 2%;
}

.informativo ul li{
    display: inline-flex;
    padding-left: 1rem;
}

.informativo ul li a{
    text-decoration: none;
    color: white;
}

.informativo ul li a:hover{
    color: #4cadff;
    text-decoration: underline;
}

footer p{
    padding: 0.5rem 0;
    text-align: center;
}
/*FINAL FOOTER*/