@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
  box-sizing: border-box;
}

/*INICIO HEADER*/
.header-content{
  width: 100%;
  height: 300px;
  background-image: linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/img-header.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}

.logo-search{
  display: flex ;
  justify-content: space-between;
  padding: 1rem 2%;
  align-items: center;
}

.logo a img{
  height: 3rem;
}

.search{
  background: rgba(255, 255, 255, 0.08);
  color: #FFFFFF;
  backdrop-filter: blur(5px);
  padding: 1.2rem;
  border-radius: 10px;
}

.btn-search{
  border: 0;
  border-radius: 5px;
  padding: 5px 20px;
  height: 28px;
}

#site-search{
  border: 0;
  height: 28px;
  border-radius: 5px;
}

.texto-header{
  color: #F5F5F5;
  text-align: center;
  font-family: 'Righteous', cursive;
}

.texto-header h3{
  letter-spacing: 6px;
  font-size: 4rem;
  font-family: 'Righteous', cursive;
  text-shadow: 3px 2px 0px #983dff;
}

.texto-header p{
  letter-spacing: 3px;
  font-size: 1rem;
  color: #D3D3D3;
}

.navbar{
  padding: 0 2%;
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
}

.navbar a{
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
}

.menu{
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-content: flex-end;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  color: #4cadff;
  font-weight: 700;
  letter-spacing: 2px;
}

.menu li a:hover{
  color: #ff4305;
  background-color: #4caeff18;
  border-radius: 10px;
}
/*FINAL HEADER*/


/*INICIO FOOTER*/
footer{
  background-color: #070617;
  color: #BEBEBE;
}

footer div ul li{
  list-style: none;
}

.row{
  display: flex;
  justify-content: space-between;
  padding: 2rem 2%;
  height: 160px;
}

.column{
  padding: 0 10px;
}

.column h2{
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ff4305;
}

.column ul{
  padding: 10px 0px;
}

.logo_footer img{
  height: 1.5rem;
}

.column a img{
  display: block;
  margin: 0px auto;
}


.social-list{
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.social-list li a img:hover{
  scale: 1.2;
}

.column p{
  font-size: 0.9rem;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="email"] { 
  border: 0;
  padding: 0.5rem;
  margin-right: 0.3rem;
  width: 220px;
}

.helper-text {
  padding-top: 0.4rem;
  display: none;
  position: absolute;
  font-size: .8rem;
  color: #FF0000;
}

button[type="submit"] {
  background-color: #00a1d7;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.5rem;
  text-transform: uppercase;
}

input.error {
  border: solid 2px #cc0000;
  background-color: #CCBBBB;
  color: #800000;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #228b22;
  color: #257425;
}

.visible {
  display: block;
}

.Copyright-informativo{
  display: flex;   
  justify-content: space-between;
  align-items: center;
  border-top: 1px inset #3b70a2;
  font-size: 0.9rem; 
  padding: 0.2rem 2%;
}

.informativo ul li{
  display: inline-flex;
  padding-left: 1rem;
}

.informativo ul li a{
  text-decoration: none;
  color: white;
}

.informativo ul li a:hover{
  color: #4cadff;
  text-decoration: underline;
}

footer p{
  padding: 0.5rem 0;
  text-align: center;
}
/*FINAL FOOTER*/


/*INICIO MODAL*/
.error_submit, .correct_submit{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000004b;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal{
  width: 30%;
  min-width:300px;
  min-height: 150px;
  background-color: #ffffffb0;
  backdrop-filter: blur(10px);
  padding: 30px;
  box-shadow: inset 0 0 4px #646464;
  border-radius: 1rem;
}

.modal p{
  padding-top: 40px;
  font-weight: 900;
  text-align: center;
}

.fechar{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
  font-size: 14pt;
  cursor: pointer;
}

@keyframes animate-modal {
  from{
      opacity: 0;
      transform: translate3d(0, -20px, 0);
  }

  to{
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.error_submit.mostrar, .correct_submit.mostrar{
  display: flex;
}

.mostrar .modal{
  animation: animate-modal .3s;
}
/*FINAL MODAL*/



/*INICIO BUTTON BACK TO TOP*/
#button-top {
  display: none;
}
.visible{
  display: block;
  position: fixed;
  bottom: 13rem;
  right: 2rem;
  background-color: #ff4305;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.visible:hover {
  background-color: #FF9800;
}
/*FINAL BUTTON BACK TO TOP*/
